# Dependencies
node_modules/
.npm

# Build outputs
dist/
out/

# IDE/Editor
.vscode/
.idea/
*.code-workspace

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Sistema operacional
.DS_Store
Thumbs.db

# Test
.vscode-test/
*.vsix
coverage
!__mocks__
